html {
    background-color: #ffeecd;
}

body {
    text-align: center;
    /* margin: 20px; */
    align-items: center;
}
.chart {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-self: center;
    position: relative;
}

.quadrant {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.quadrant_title {
    font-size: 4em;
    padding: 10px;
    margin: 4%;
    z-index: 2;
}

#q1 {
    background-color: #92d9f7;
    text-align: right;
}

#q2 {
    background-color: #f8bbb9;
    text-align: left;
}

#q3 {
    background-color: #c7e4bc;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
}

#q4 {
    background-color: #f4f5a7;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.element {
    max-width: 40%;
    position: absolute;
    z-index: 1;
}